
body,p,h1,h2,h3,h4,h5,h6,ul,ol{
    margin:0;
    padding:0;
    list-style: none;
}

body{
    display:grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;

}
.sidebar{
    grid-column: 1/1;
    grid-row: 1/3;
    padding: 20px;

}
.sidebar>nav{
    display: grid;
    gap:20%;
}
.header-section{
    grid-column: 2/3;
}
.header-wrapper{
    display: grid;
    padding:20px
}
.search-container search{
    width: clamp(400px,60%,900px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-container{
  display:flex;
    justify-content: space-between;
}
.notification{
    margin-right:10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    padding: 5px;
}
.avatar-container{
    width: 30px;
    height: 30px;
    padding: 10px 10px;
    border-radius: 100%;
    font-size: x-small;
}
.search-box{
    width:95%;
    padding: 4px 0;
}
.user-info{
    display: grid;
    grid-template-columns:auto 1fr 35%;
    gap:12px;

}
.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.main-container{
    grid-column: 2/3;
    display:grid;
    gap:20px;
    grid-template-columns: 70% 1fr;
    grid-auto-flow: column;
    padding: 20px;
}
.announcements{
    display: grid;
    gap:20px;
}
